tornado
click
click_default_group
rich
pyOpenSSL
pycryptodomex
poorman_handshake>=0.1.0
hivemind-ggwave
hivemind_bus_client>=0.0.4a25
HiveMind_presence>=0.0.2a3
ovos_utils>=0.0.33
ovos-bus-client>=0.0.6a5